[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "inequantiles"]
	path = inequantiles
	url = https://github.com/silviascarpa/inequantiles
